<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script  src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>

    <div id="app" class="container">

      <div class="logo">

        <img src="img/logo.png">

      </div>






      <div class="row">
        <div class="new-todo">
          <input v-model="newPoint" type="text" class="todo" placeholder="Nuovo todo">
          <button type="button" class="fas fa-times" @click="CreateNewPoint">Aggiungi</button>
        </div>





        <div class="todos-container">
          <ul v-if="points.length > 0">
            <li v-for="point in points" class="todo">{{point}}<i @click="deletePoint(index)" class="cursor-pointer fas fa-times"></i></li>
          </ul>




          <h2 v-else>Non ci sono elementi</h2>
        </div>
      </div>

    </div>

    <script src="js/script.js"></script>
  </body>


</html>
